.page {
    min-width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    margin: auto;
    background-color: #2A2C2F;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1280px) {
    .page {
        max-width: 1280px;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        max-width: 320px;
    }
}
